  <br/>
  <br>
  <div class="row">
    <div class="col">
      <div class="panel panel-default">
        <div class="panel-body">
          <% if user_signed_in? %>
          <p class="side-panel">
            <div class="col-sm-12" style="margin-top: 10px;">
              <div class="col-sm-2"><img src="/public/img/no_image.png" height="50px" width="50px" class="rounded-img home-avatar">
            </div>
              <div class="col-sm-10"><h4 style="text-align: center;"><%= current_user.username %></h4></div>
              <div class="col-sm-6" style="font-size: 80%; opacity: 0.7;">POSTS<br>
                <h6 style="color: #0084B4; font-size: 200%;"><%= current_user.posts.count %></h6>
              </div>
              <div class="col-sm-6" style="font-size: 80%; opacity: 0.7;">FOLLOWERS<br>
                <h6 style="color: #0084B4; font-size: 200%;">followers count</h6>
              </div>
            </div>
          </p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-6">
      <% if user_signed_in? %>
      <%= render '/components/post_form' %> <br/>
      <% end %>
      <% @posts.each do |p| %>
      <div class="panel panel-default post-panel">
        <div class="panel-body">
          <div class="col-sm-1">
            <%= image_tag "/img/no_image.png", style: 'height:50px;width:50px;margin-top:15px;margin-bottom:15px;'%>
          </div>
          <div class="col-sm-11">
            <p class="post-title">
              <span class='post-owner'><%= User.find(p.user_id).username %> </span>
              - <small class='post-time'><%= p.created_at.to_formatted_s(:short)%></small>
            </p>
            <p class="post-content">
              <%= p.content %>
            </p>
          </div>
          <div class="col-sm-12">
            <p class="post-link">
              <a href="" class="post-img"><i class="fas fa-reply"></i></a>
              <a href="" class="post-img"><i class="fas fa-retweet"></i></a>
              
              <%= link_to like_post_path(p.id) ,class:'like-btn' , method: :put, remote: :true do %>
                <a href="" class="post-img"><i class="far fa-heart"></i></a>
              <% end %>
              <span class='likes-count'><%= @post.get_upvotes.size %></span>
              <a href="" class="post-img"><i class="fas fa-pencil-alt"></i></a>
            </p>
          </div>
        </div>
        </div>
        <br/>
      <% end %>
    </div>
  
    <div class="col">
      <div class="panel panel-default">
        <div class="panel-body">
          <p class="side-panel">about</p>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <p class="side-panel" style="opacity: 50%;">
            <small>
              Terms of Service
            Privacy Policy
            Cookie Policy
            Ads info
            More
            © 2021 Twitter, Inc.
            </small>
          </p>
        </div>
      </div>
    </div>
  </div>

